---
layout: default
---

{% include header.html %}

<div class="portfolio">
    <h1>Build and compiling:</h1>
    <ul>
        {% for websites in site.data.bookmarks %}
        {% if websites.category == "building" %}
        <li>
            <a href="{{ websites.url }}">{{ websites.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <h1>Career:</h1>
    <ul>
      {% for websites in site.data.bookmarks %}
      {% if websites.category == "career" %}
      <li>
          <a href="{{websites.url}}">{{websites.name}}</a>
      </li>
      {% endfor %}
    </ul>
</div>
