---
layout: default
---

{% include header.html %}

<div class="post">
<p>
Here are some articles that I would like to bookmark, just to keep track of what I read and to share what I find useful.
</p>
</div>

<div class="bookmark-category">
    <h1>Build and compiling:</h1>
    <ul>
        {% for websites in site.data.bookmarks %}
        {% if websites.category == "building" %}
        <li>
            <a href="{{ websites.url }}">{{ websites.name }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<br/>
<div class="bookmark-category">
    <h1>Career:</h1>
    <ul>
      {% for websites in site.data.bookmarks %}
      {% if websites.category == "career" %}
      <li>
          <a href="{{websites.url}}">{{websites.name}}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
</div>
<br/>
<div class="bookmark-category">
    <h1>Running:</h1>
    <ul>
      {% for websites in site.data.bookmarks %}
      {% if websites.category == "running" %}
      <li>
          <a href="{{websites.url}}">{{websites.name}}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
</div>
